<header>
    <div class="navbar bg-primary shadow-sm" >


        <div class="navbar-brand align-item-center d-flex" >
        
            <i style="color:aliceblue;margin-left:20px"class="fas fa-shipping-fast"><strong  style="font-size:25px;color:aliceblue">{{title}}</strong></i>
    
        <div class="form-group">
            <input type="text" class="form-control" placeholder="search products here">
        </div>
       <span class="fas fa-search search-icon"></span>
            




    </div>
    <button routerLink="cart" class="btn btn-primary">  
    <i style="font-size:32px;" class="fas fa-cart-plus"></i>
    <div style="font-size: 10px;" class="badge bg-danger">{{totalItems}}</div>
    </button> 

</div>
</header>